Thumbs.db
*.dll
*.suo
*.obj
*.scc
*.suo
*.exe
*.pdb
*.7z
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.cache
*.ilk
*.log
*.sw?
*.bak
*.tags
*.tags_sorted_by_file
*.DotSettings
*.ncrunchproject
*.ncrunchsolution
*.sublime-project
*.sublime-workspace
*~
[Bb]in
[Db]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
genMarkdown.bat
README.markdown.html
*.vsp
*.BACKUP.*
*.REMOTE.*
*.BASE.*
*.LOCAL.*
*.orig
StyleCop.Cache
*.dbmdl
output/
_scripts/ETL/*/*.cs
TestResults/*
Source/packages/
_build/
*.nupkg