<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Avdm.Config" version="1.0.0.30828" targetFramework="net45" />
  <package id="Avdm.Core" version="1.1.1.32631" targetFramework="net45" />
  <package id="EasyNetQ" version="0.10.0.84" targetFramework="net45" />
  <package id="EasyNetQ.Management.Client" version="0.10.0.84" targetFramework="net45" />
  <package id="log4net" version="2.0.0" targetFramework="net45" />
  <package id="mongocsharpdriver" version="1.8.1" targetFramework="net45" />
  <package id="Moq" version="4.0.10827" targetFramework="net45" />
  <package id="Nancy" version="0.17.1" targetFramework="net45" />
  <package id="Nancy.Authentication.Basic" version="0.17.1" targetFramework="net45" />
  <package id="Nancy.Hosting.Self" version="0.17.1" targetFramework="net45" />
  <package id="ncrontab" version="1.0.0" targetFramework="net45" />
  <package id="NDesk.Options" version="0.2.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.5" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.0.2" targetFramework="net45" />
  <package id="sbin" version="1.1.0.28378" targetFramework="net45" />
  <package id="Sider" version="0.9.2" targetFramework="net45" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net45" />
</packages>